<!doctype html>
{% load django_htmx %}
{% load static %}
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
			/>
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>
			Servio - {% block browser_title %}Dashboard{% endblock %}
		</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
		<link href='https://cdn.boxicons.com/3.0.6/fonts/basic/boxicons.min.css' rel='stylesheet'>
		<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&amp;display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&amp;display=swap" rel="stylesheet" />
		{% block custom_page_css %}{% endblock %}
		<link href="{% static 'css/output.css' %}" rel="stylesheet">
		<link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
		{% htmx_script minified=False %}
	</head>
	<body
		
		x-data="
			{ 
				page: 'base',
				'loaded': true,
				'darkMode': false, 
				'stickyMenu': false, 
				'sidebarToggle': false, 
				'scrollTop': false 
			}"
		x-init="
			darkMode = JSON.parse(localStorage.getItem('darkMode'));
			$watch('darkMode', value => localStorage.setItem('darkMode', JSON.stringify(value)))"
		:class="{'dark bg-gray-900': darkMode === true}"
  	>
    	<!-- ===== Preloader Start ===== -->
		{% include "components/preloader.html" %}
		

    	<!-- ===== Page Wrapper Start ===== -->
    	<div class="flex h-screen overflow-hidden">
      		{% include "partials/sidebar/base-menu.html" %}
      		

      		<!-- ===== Content Area Start ===== -->
      		<div
        		class="relative flex flex-col flex-1 overflow-x-hidden overflow-y-auto"
      		>
				<!-- Small Device Overlay Start -->
				{% include "components/overlay.html" %}

				<!-- ===== Header Start ===== -->
				{% include "partials/header.html" %}

				<!-- ===== Main Content Start ===== -->
				<main hx-headers='{"x-csrftoken": "{{ csrf_token }}"}'>
					<div class="p-4 mx-auto max-w-(--breakpoint-2xl) md:p-6">
						<div 
							id="center-alert-container" 
			 				class="fixed top-4 left-1/2 -translate-x-1/2 z-999999
								w-full max-w-md px-4 space-y-3 pointer-events-none">
						</div>
						{% block content %}
							{# include "components/breadcrumbs.html" #}

							<div
								class="min-h-screen rounded-2xl border border-gray-200 bg-white px-5 py-7 dark:border-gray-800 dark:bg-white/[0.03] xl:px-10 xl:py-12"
							>
								<div class="mx-auto w-full max-w-[630px] text-center">
									<h3
										class="mb-4 font-semibold text-gray-800 text-theme-xl dark:text-white/90 sm:text-2xl"
										>
										Card Title Here
									</h3>
									<p
										class="text-sm text-gray-500 dark:text-gray-400 sm:text-base"
										>
										Start putting content on grids or panels, you can also use
										different combinations of grids.Please check out the dashboard
										and other pages
									</p>
								</div>
							</div>
						{% endblock %}
					</div>
				</main>

      		</div>
      		<!-- ===== Content Area End ===== -->
    	</div>
    	<!-- ===== Page Wrapper End ===== -->
		 <footer class="w-full border-t border-gray-200 bg-white dark:border-gray-700 dark:bg-gray-900">
			<div class="mx-auto flex max-w-7xl flex-col items-center justify-between gap-3 px-4 py-6 text-sm text-gray-600 transition-all sm:flex-row dark:text-gray-400">
				
				<!-- Copyright -->
				<p class="text-center sm:text-left">
				© <span id="year"></span> Servio. All rights reserved.
				</p>

				<!-- Attribution -->
				<p class="text-center sm:text-right">
				Built with ❤️ by 
				<a 
					href="mailto:sammy.sammykingx.com.ng" 
					target="_blank" 
					class="font-medium text-blue-600 hover:text-blue-500 dark:text-blue-400 dark:hover:text-blue-300 transition-colors"
				>
					Divgm Technologies
				</a>
				</p>
			</div>
		</footer>
		<!-- <footer id="footer">
			<div class="site-footer px-6 bg-white dark:bg-gray-900 text-slate-500 dark:text-slate-300 py-4 ltr:ml-[248px] rtl:mr-[248px]">
				<div class="grid md:grid-cols-2 grid-cols-1 md:gap-5">
					<div class="text-center ltr:md:text-start rtl:md:text-right text-sm">
						COPYRIGHT ©
						<span id="year"></span>
						Servio, All rights Reserved
					</div>
					<div class="ltr:md:text-right rtl:md:text-end text-center text-sm">
						Hand-crafted &amp; Made by
						<a href="https://divgm.com" target="_blank" class="text-primary-500 font-semibold">
							Divgm Agency
						</a>
					</div>
				</div>
			</div>
      </footer> -->
  	</body>
	<script defer src="{% static 'js/vendors/init-alpine.js' %}"></script>
	<script defer src="{% static 'js/vendors/alpine.min.js' %}"></script>
	<script src="{% static 'js/center-alert.js' %}"></script>
	<script>
		// Auto-update year dynamically
		document.getElementById("year").textContent = new Date().getFullYear();
	</script>
	{% block custom_page_js %}{% endblock %}
	<!-- <script defer src="{% static 'js/vendors/alpine-persist.min.js' %}"></script> -->
</html>
