{% extends "layouts/base.html" %}
{% load static %}
{% block browser_title %}Business Settings{% endblock %}
{% block content %}
{% include "components/breadcrumbs.html" with page_name="Business Settings" %}

<div
	class="mt-3 mb-10 rounded-2xl border border-gray-200 bg-white dark:border-gray-800 dark:bg-white/[0.03]"
	>
	<div
		class="rounded-xl border border-gray-200 p-6 dark:border-gray-800"
		x-data="{ activeTab: 'overview' }"
		>
		<div class="flex flex-col gap-6 sm:flex-row sm:gap-14">
			<div
				class="overflow-x-auto pb-2 sm:w-[200px] [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-thumb]:bg-gray-100 dark:[&::-webkit-scrollbar-thumb]:bg-gray-600 [&::-webkit-scrollbar-track]:bg-white dark:[&::-webkit-scrollbar-track]:bg-transparent [&::-webkit-scrollbar]:h-1.5"
				>
				<nav class="flex w-full flex-row sm:flex-col sm:space-y-2 whitespace-nowrap">
					<button
						class="inline-flex items-center rounded-lg px-3 py-2 text-sm font-medium transition-colors duration-200 ease-in-out sm:p-3"
						x-bind:class="activeTab === 'overview' ? ' text-brand-500 dark:bg-brand-400/20 dark:text-gray-200 bg-brand-50 ' : 'bg-transparent text-gray-500 border-transparent hover:text-gray-700 dark:text-gray-400 dark:hover:text-gray-200'"
						x-on:click="activeTab = 'overview'"
					>
						Business Profile
					</button>
					<button
						class="py-2.5å inline-flex items-center rounded-lg px-3 text-sm font-medium transition-colors duration-200 ease-in-out sm:p-3"
						x-bind:class="activeTab === 'notifications' ? ' text-brand-500 dark:bg-brand-400/20 dark:text-gray-200 bg-brand-50 ' : 'bg-transparent text-gray-500 border-transparent hover:text-gray-700 dark:text-gray-400 dark:hover:text-gray-200'"
						x-on:click="activeTab = 'notifications'"
						>
						Documents
					</button>
					<button
						class="inline-flex items-center rounded-lg px-3 py-2.5 text-sm font-medium transition-colors duration-200 ease-in-out sm:p-3"
						x-bind:class="activeTab === 'passwords' ? ' text-brand-500 dark:bg-brand-400/20 dark:text-gray-200 bg-brand-50 ' : 'bg-transparent text-gray-500 border-transparent hover:text-gray-700 dark:text-gray-400 dark:hover:text-gray-200'"
						x-on:click="activeTab = 'passwords'"
						>
					Services & Pricing
					</button>
					<button
						class="py-2.5å inline-flex items-center rounded-lg px-3 text-sm font-medium transition-colors duration-200 ease-in-out sm:p-3"
						x-bind:class="activeTab === 'notifications' ? ' text-brand-500 dark:bg-brand-400/20 dark:text-gray-200 bg-brand-50 ' : 'bg-transparent text-gray-500 border-transparent hover:text-gray-700 dark:text-gray-400 dark:hover:text-gray-200'"
						x-on:click="activeTab = 'notifications'"
						>
					Availability & Calendar
					</button>
					<button
						class="py-2.5å inline-flex items-center rounded-lg px-3 text-sm font-medium transition-colors duration-200 ease-in-out sm:p-3"
						x-bind:class="activeTab === 'notifications' ? ' text-brand-500 dark:bg-brand-400/20 dark:text-gray-200 bg-brand-50 ' : 'bg-transparent text-gray-500 border-transparent hover:text-gray-700 dark:text-gray-400 dark:hover:text-gray-200'"
						x-on:click="activeTab = 'notifications'"
						>
						Booking Rules
					</button>
					<button
						class="py-2.5å inline-flex items-center rounded-lg px-3 text-sm font-medium transition-colors duration-200 ease-in-out sm:p-3"
						x-bind:class="activeTab === 'notifications' ? ' text-brand-500 dark:bg-brand-400/20 dark:text-gray-200 bg-brand-50 ' : 'bg-transparent text-gray-500 border-transparent hover:text-gray-700 dark:text-gray-400 dark:hover:text-gray-200'"
						x-on:click="activeTab = 'notifications'"
						>
						Payouts
					</button>
					<button
						class="py-2.5å inline-flex items-center rounded-lg px-3 text-sm font-medium transition-colors duration-200 ease-in-out sm:p-3"
						x-bind:class="activeTab === 'notifications' ? ' text-brand-500 dark:bg-brand-400/20 dark:text-gray-200 bg-brand-50 ' : 'bg-transparent text-gray-500 border-transparent hover:text-gray-700 dark:text-gray-400 dark:hover:text-gray-200'"
						x-on:click="activeTab = 'notifications'"
						>
						Staffs & Roles
					</button>
					<button
						class="py-2.5å inline-flex items-center rounded-lg px-3 text-sm font-medium transition-colors duration-200 ease-in-out sm:p-3"
						x-bind:class="activeTab === 'notifications' ? ' text-brand-500 dark:bg-brand-400/20 dark:text-gray-200 bg-brand-50 ' : 'bg-transparent text-gray-500 border-transparent hover:text-gray-700 dark:text-gray-400 dark:hover:text-gray-200'"
						x-on:click="activeTab = 'notifications'"
						>
						Reviews & Reputation
					</button>
					<button
						class="py-2.5å inline-flex items-center rounded-lg px-3 text-sm font-medium transition-colors duration-200 ease-in-out sm:p-3"
						x-bind:class="activeTab === 'notifications' ? ' text-brand-500 dark:bg-brand-400/20 dark:text-gray-200 bg-brand-50 ' : 'bg-transparent text-gray-500 border-transparent hover:text-gray-700 dark:text-gray-400 dark:hover:text-gray-200'"
						x-on:click="activeTab = 'notifications'"
						>
						Marketing & Visibility
					</button>
					<button
						class="py-2.5å inline-flex items-center rounded-lg px-3 text-sm font-medium transition-colors duration-200 ease-in-out sm:p-3"
						x-bind:class="activeTab === 'notifications' ? ' text-brand-500 dark:bg-brand-400/20 dark:text-gray-200 bg-brand-50 ' : 'bg-transparent text-gray-500 border-transparent hover:text-gray-700 dark:text-gray-400 dark:hover:text-gray-200'"
						x-on:click="activeTab = 'notifications'"
						>
						Domains & Branding
					</button>
					<button
						class="py-2.5å inline-flex items-center rounded-lg px-3 text-sm font-medium transition-colors duration-200 ease-in-out sm:p-3"
						x-bind:class="activeTab === 'notifications' ? ' text-brand-500 dark:bg-brand-400/20 dark:text-gray-200 bg-brand-50 ' : 'bg-transparent text-gray-500 border-transparent hover:text-gray-700 dark:text-gray-400 dark:hover:text-gray-200'"
						x-on:click="activeTab = 'notifications'"
						>
						Notifications
					</button>
					<button
						class="py-2.5å inline-flex items-center rounded-lg px-3 text-sm font-medium transition-colors duration-200 ease-in-out sm:p-3"
						x-bind:class="activeTab === 'notifications' ? ' text-brand-500 dark:bg-brand-400/20 dark:text-gray-200 bg-brand-50 ' : 'bg-transparent text-gray-500 border-transparent hover:text-gray-700 dark:text-gray-400 dark:hover:text-gray-200'"
						x-on:click="activeTab = 'notifications'"
						>
						Policies & Legal
					</button>
				</nav>
			</div>
			<div class="flex-1">
				<div class="ml-0 sm:ml-6">
					<div x-show="activeTab === 'overview'">
						<!-- <h3 class="mb-5 text-xl font-medium text-gray-800 dark:text-white/90">
							Quick Overview
							</h3> -->
						<div class="space-y-4">
							<p class="text-sm md:text-base text-gray-600 dark:text-white/90 flex items-center gap-2">
								<span class="font-medium">Account Status:</span>
								<!-- <span class="text-xs md:text-sm">{{ user.email }}</span> -->
								{% if user.is_active %}
								<span class="flex items-center gap-1 text-green-500 font-medium bg-green-100 dark:bg-green-900/40 px-2 py-1 rounded-full text-xs md:text-sm">
									<svg class="w-4 h-4" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M20 6L9 17L4 12" stroke="#22c55e" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
									</svg>
									active
								</span>
								{% else %}
								<span class="flex items-center gap-1 text-gray-600 text-xs font-medium bg-gray-200 dark:bg-gray-700 px-2 py-0.5 rounded-full">
								In-active
								</span>
								{% endif %}
							</p>
							<p class="text-sm md:text-base text-gray-600 dark:text-white/90 flex items-center gap-2">
								<span class="font-medium">Phone:</span>
								<span class="text-xs md:text-sm">{{ user.profile.mobile_num|default:"+1 345 654 123" }}</span>
								{% if user.profile.is_business_owner %}
								<span class="flex items-center gap-1 text-green-500 font-medium bg-green-100 dark:bg-green-900/40 px-2 py-1 rounded-full text-xs md:text-sm">
									<svg class="w-4 h-4" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M20 6L9 17L4 12" stroke="#22c55e" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
									</svg>
									verified
								</span>
								{% else %}
								<span class="flex items-center gap-1 text-gray-600 dark:text-gray-300 text-xs font-medium bg-gray-200 dark:bg-gray-700 px-2 py-0.5 rounded-full">
								Not Verified
								</span>
								{% endif %}
							</p>
							<p class="text-sm md:text-base text-gray-600 dark:text-white/90 flex items-center gap-2">
								<span class="font-medium">Email:</span>
								<span class="text-xs md:text-sm">{{ user.email }}</span>
								{% if user.is_verified %}
								<span class="flex items-center gap-1 text-green-500 font-medium bg-green-100 dark:bg-green-900/40 px-2 py-1 rounded-full text-xs md:text-sm">
									<svg class="w-4 h-4" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M20 6L9 17L4 12" stroke="#22c55e" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
									</svg>
									verified
								</span>
								{% else %}
								<span class="flex items-center gap-1 text-gray-600 text-xs font-medium bg-gray-200 dark:bg-gray-700 px-2 py-0.5 rounded-full">
								Not Verified
								</span>
								{% endif %}
							</p>							
						</div>
					</div>
					<div x-show="activeTab === 'passwords'">
						<div class="space-y-2 mb-6">
							<!-- <h3 class="text-xl font-medium text-gray-800 dark:text-white/90">
								Password Manager
								</h3> -->
							<p class="text-sm text-gray-500 dark:text-gray-400">
								Update your password to keep your account secure.
							</p>
						</div>
						{% include "partials/accounts/password-change.html" %}
					</div>
					<div x-show="activeTab === 'notifications'" class="">
						<h3 class="mb-3 text-xl font-medium text-gray-800 dark:text-white/90">
							Notifications Settings
						</h3>
						<p class="text-sm text-gray-500 dark:text-gray-400 my-5">
							Manage communication channels.
						</p>
						{% include "partials/accounts/notification-channels.html" %}
					</div>
					<!-- <div x-show="activeTab === 'privacy'">
						<h3 class="mb-3 text-xl font-medium text-gray-800 dark:text-white/90">
							Privacy Settings
						</h3>
						<p class="text-sm text-gray-500 dark:text-gray-400 my-5">
							Manage your data accross servio.
						</p>
						{# include "partials/accounts/privacy-preference.html" #}
					</div> -->
				</div>
			</div>
		</div>
	</div>
</div>
{% include "partials/accounts/account-integrations.html" %}
{% endblock %}

