<!doctype html>
{% load static %}
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
			/>
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>
			{% block browser_title %}servio - Dashboard{% endblock %}
		</title>
		<link href="{% static 'css/output.css' %}" rel="stylesheet">
		<link rel="icon" href="favicon.ico">
	</head>
	<body
		x-data="{ ...theme(), ...sidebar(), ...app() }"
    	x-init="init()" 
    	:class="{ 'dark bg-gray-900': dark }"
	>
		<!-- ===== Preloader Start ===== -->
		<div
			x-show="!loaded"
			class="fixed left-0 top-0 z-999999 flex h-screen w-screen items-center justify-center bg-white dark:bg-black"
		>
			<div class="h-16 w-16 animate-spin rounded-full border-4 border-solid border-brand-500 border-t-transparent"></div>
		</div>
		<!-- ===== Preloader End ===== -->
		<!-- ===== Page Wrapper Start ===== -->
		<div class="flex h-screen overflow-hidden">
			<!-- ===== Sidebar Start ===== -->
			{% include "partials/sidebar/base-menu.html" %}
			
			<!-- ===== Content Area Start ===== -->
			<div
				class="relative flex flex-col flex-1 overflow-x-hidden overflow-y-auto"
				>
				<!-- Small Device Overlay Start -->
				<div
					:class="sidebarToggle ? 'block xl:hidden' : 'hidden'"
					class="fixed z-50 h-screen w-full bg-gray-900/50"
					></div>
				<!-- Small Device Overlay End -->
				
				<!-- ===== Header Start ===== -->
				 {% include "partials/header.html" %}
				
				<!-- ===== Header End ===== -->
				
				<!-- ===== Main Content Start ===== -->
				<main>
					<div class="p-4 mx-auto max-w-(--breakpoint-2xl) md:p-6">
						<!-- Breadcrumb Start -->
						<div x-data="{ pageName: `Blank Page Now`}">
							<div class="flex flex-wrap items-center justify-between gap-3 pb-6">
								<h2
									class="text-xl font-semibold text-gray-800 dark:text-white/90"
									x-text="pageName"
									></h2>
								<nav>
									<ol class="flex items-center gap-1.5">
										<li>
											<a
												class="inline-flex items-center gap-1.5 text-sm text-gray-500 dark:text-gray-400"
												href="index.html"
												>
												Home
												<svg
													class="stroke-current"
													width="17"
													height="16"
													viewBox="0 0 17 16"
													fill="none"
													xmlns="http://www.w3.org/2000/svg"
													>
													<path
														d="M6.0765 12.667L10.2432 8.50033L6.0765 4.33366"
														stroke=""
														stroke-width="1.2"
														stroke-linecap="round"
														stroke-linejoin="round"
														/>
												</svg>
											</a>
										</li>
										<li
											class="text-sm text-gray-800 dark:text-white/90"
											x-text="pageName"
											></li>
									</ol>
								</nav>
							</div>
						</div>
						<!-- Breadcrumb End -->
						<div
							class="min-h-screen rounded-2xl border border-gray-200 bg-white px-5 py-7 dark:border-gray-800 dark:bg-white/[0.03] xl:px-10 xl:py-12"
							>
							<div class="mx-auto w-full max-w-[630px] text-center">
								<h3
									class="mb-4 font-semibold text-gray-800 text-theme-xl dark:text-white/90 sm:text-2xl"
									>
									Card Title Here
								</h3>
								<p
									class="text-sm text-gray-500 dark:text-gray-400 sm:text-base"
									>
									Start putting content on grids or panels, you can also use
									different combinations of grids.Please check out the dashboard
									and other pages
								</p>
							</div>
						</div>
					</div>
				</main>
				<!-- ===== Main Content End ===== -->
			</div>
			<!-- ===== Content Area End ===== -->
		</div>
		<!-- ===== Page Wrapper End ===== -->
		<!-- <script data-cfasync="false" src="{% static 'js/vendors/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js' %}"></script> -->
		<script defer src="{% static 'js/vendors/alpine.min.js' %}"></script>
		<script defer src="{% static 'js/vendors/alpine-persist.min.js' %}"></script>
		<script defer src="{% static 'js/vendors/init-alpine.js' %}"></script>
		<!-- <script defer src="{% static 'js/bundle.js' %}"></script> -->
	</body>
</html>
