{% load static %}
<aside
	:class="sidebarToggle ? 'translate-x-0 xl:w-[90px]' : '-translate-x-full'"
	class="sidebar fixed top-0 left-0 z-9999 flex h-screen 
		w-[290px] flex-col overflow-y-auto border-r 
		border-gray-200 bg-[#faf9ff] px-5 transition-all 
		duration-300 xl:static xl:translate-x-0 
		dark:border-gray-800 dark:bg-black"
	@click.outside="sidebarToggle = false"
	>
	<!-- SIDEBAR HEADER -->
	<div
		:class="sidebarToggle ? 'justify-center' : 'justify-between'"
		class="sidebar-header flex items-center gap-2 pt-8 pb-7"
	>
		<a href="{% url AUTH_URLS.ACCOUNT_DASHBOARD %}">

			<!-- FULL LOGO (show when sidebar is active on ALL screen sizes) -->
			<span class="logo object-cover"
				:class="sidebarToggle ? 'block' : 'hidden xl:block'">
				<img class="dark:hidden"
					src="{% static 'images/logo/sidebar-logo-light.png' %}" alt="Logo" />
				<img class="hidden dark:block object-center"
					src="{% static 'images/logo/sidebar-logo-dark.png' %}" alt="Logo" />
			</span>

			<!-- ICON LOGO (desktop only, when collapsed) -->
			<!-- <img class="logo-icon"
				:class="sidebarToggle ? 'hidden xl:block' : 'hidden'"
				src="{% static 'images/logo/logo-icon.svg' %}" alt="Logo"
			/> -->

    	</a>
		<!-- <a href="{% url AUTH_URLS.ACCOUNT_DASHBOARD %}">
			<span class="logo" :class="sidebarToggle ? 'hidden' : ''">
			<img class="dark:hidden" src="{% static 'images/logo/sidebar-logo-light.png' %}" alt="Logo" />
			<img
				class="hidden dark:block"
				src="{% static 'images/logo/sidebar-logo-dark.png' %}"
				alt="Logo"
				/>
			</span>
			<img
				class="logo-icon"
				:class="sidebarToggle ? 'xl:block' : 'hidden'"
				src="{% static 'images/logo/logo-icon.svg' %}"
				alt="Logo"
				/>
		</a> -->
	</div>
	<!-- SIDEBAR HEADER END -->
	<div
		class="no-scrollbar flex flex-col overflow-y-auto duration-300 ease-linear"
		>
		<!-- Sidebar Menu -->
		<nav x-data="menu()">
			<!-- Menu Group -->
			<div>
				<h3 class="mb-4 text-xs leading-[20px] text-gray-400 uppercase">
					<span
						class="menu-group-title"
						:class="sidebarToggle ? 'xl:hidden' : ''"
						>
					    MENU
					</span>
					<svg
						:class="sidebarToggle ? 'xl:block hidden' : 'hidden'"
						class="menu-group-icon mx-auto fill-current"
						width="24"
						height="24"
						viewBox="0 0 24 24"
						fill="none"
						xmlns="http://www.w3.org/2000/svg"
					>
						<path
							fill-rule="evenodd"
							clip-rule="evenodd"
							d="M5.99915 10.2451C6.96564 10.2451 7.74915 11.0286 7.74915 11.9951V12.0051C7.74915 12.9716 6.96564 13.7551 5.99915 13.7551C5.03265 13.7551 4.24915 12.9716 4.24915 12.0051V11.9951C4.24915 11.0286 5.03265 10.2451 5.99915 10.2451ZM17.9991 10.2451C18.9656 10.2451 19.7491 11.0286 19.7491 11.9951V12.0051C19.7491 12.9716 18.9656 13.7551 17.9991 13.7551C17.0326 13.7551 16.2491 12.9716 16.2491 12.0051V11.9951C16.2491 11.0286 17.0326 10.2451 17.9991 10.2451ZM13.7491 11.9951C13.7491 11.0286 12.9656 10.2451 11.9991 10.2451C11.0326 10.2451 10.2491 11.0286 10.2491 11.9951V12.0051C10.2491 12.9716 11.0326 13.7551 11.9991 13.7551C12.9656 13.7551 13.7491 12.9716 13.7491 12.0051V11.9951Z"
							fill="currentColor"
						/>
					</svg>
				</h3>
				<ul class="mb-6 flex flex-col gap-1">
					<!-- Menu Item Dashboard -->
					<li>
						<a
							href="{% url AUTH_URLS.ACCOUNT_DASHBOARD %}"
							class="menu-item group {% url AUTH_URLS.ACCOUNT_DASHBOARD as dashboard_url %}{% if request.path == dashboard_url %}menu-item-active{% else %}menu-item-inactive{% endif %}"
						>
							<span class="material-symbols-outlined text-brand-500">dashboard</span>
							<span
								class="menu-item-text"
								:class="sidebarToggle ? 'xl:hidden' : ''"
							>
								Dashboard
							</span>
						</a>
					</li>
				</ul>
			</div>

			<!-- Dynamic navigation menu based on user role -->
			 {% if user.profile.role == UserRole.PROVIDERS %}
			 	{% include "partials/sidebar/business-owner-nav.html" %}
			{% elif user.profile.role == UserRole.MEMBERS %}
				{% include "partials/sidebar/client-menu.html" %}
			{% else %}
				<!-- <p>No role identified</p> -->
			{% endif %}

			<div>
				<ul class="mb-6 flex flex-col gap-1">
					<!-- Menu Item Logout -->
					 <form method="POST" action="{% url AUTH_URLS.LOGOUT %}">
						{% csrf_token %}
						<button
							href="{% url AUTH_URLS.LOGOUT %}"
							class="group text-sm mt-3 flex items-center gap-3 rounded-lg px-3 py-2 font-medium text-gray-700 hover:bg-gray-100 hover:text-gray-700 dark:text-gray-400 dark:hover:bg-white/5 dark:hover:text-gray-300"
							>
							<span class="material-symbols-outlined text-error-400">logout</span>

							Sign out
						</button>
					</form>
					 <!-- <li>
						<a
							href="{% url AUTH_URLS.LOGOUT %}"
							class="menu-item group text-gray-500"
							:class=" (selected === 'logout') && (page === 'sign-out') ? 'menu-item-active' : 'menu-item-inactive'"
						>
							<svg
								width="24"
								height="24"
								viewBox="0 0 24 24"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<path
									d="M16 17L21 12L16 7"
									stroke="currentColor"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
								/>
								<path
									d="M21 12H9"
									stroke="currentColor"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
								/>
								<path
									d="M12 19C12 19.5304 11.7893 20.0391 11.4142 20.4142C11.0391 20.7893 10.5304 21 10 21H6C5.46957 21 4.96086 20.7893 4.58579 20.4142C4.21071 20.0391 4 19.5304 4 19V5C4 4.46957 4.21071 3.96086 4.58579 3.58579C4.96086 3.21071 5.46957 3 6 3H10C10.5304 3 11.0391 3.21071 11.4142 3.58579C11.7893 3.96086 12 4.46957 12 5"
									stroke="currentColor"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
								/>
							</svg>
							<span
								class="menu-item-text"
								:class="sidebarToggle ? 'xl:hidden' : ''"
							>
								Sign Out
							</span>
						</a>
					</li> -->
				</ul>
			</div>
		</nav>
		<!-- Sidebar Menu Ends -->
		
		<!-- Promo Box -->
		<div
			:class="sidebarToggle ? 'xl:hidden' : ''"
			class="mx-auto mb-10 w-full max-w-60 rounded-2xl bg-white border border-brand-100 px-4 py-5 text-center dark:bg-white/[0.03]"
			>
			<h3 class="mb-2 font-medium text-gray-700 dark:text-white">
				Whitelabel servio app
			</h3>
			<p class="text-sm mb-4 text-gray-500 dark:text-gray-400">
				Trusted infrastructure, seamless booking, and total brand control, Servio makes it effortless
			</p>
			<a
				href="#"
				target="_blank"
				rel="nofollow"
				class="bg-brand-500 dark:bg-gray-100 text-sm hover:bg-brand-700 dark:hover:bg-warning-200 flex items-center justify-center rounded-lg p-3 font-medium text-white dark:text-gray-800 dark:hover:text-brand-800"
				>
			Purchase Plan
			</a>
		</div>
		<!-- Promo Box -->
	</div>
</aside>
