annotated-types==0.7.0
asgiref==3.10.0
bleach==6.3.0
certifi==2025.10.5
cffi==2.0.0
charset-normalizer==3.4.4
cryptography==46.0.3
django==5.2.7
django-allauth==65.12.1
django-autoslug==1.9.9
django-extensions==4.1
django-htmx==1.27.0
idna==3.11
markupsafe==3.0.3
mysqlclient==2.2.7
nanoid==2.0.0
oauthlib==3.3.1
pillow==12.0.0
pycparser==2.23
pydantic==2.12.5
pydantic-core==2.41.5
pyjwt==2.10.1
pymysql==1.1.2
pyopenssl==25.3.0
python-dateutil==2.9.0.post0
python-decouple==3.8
requests==2.32.5
six==1.17.0
sqlparse==0.5.3
typing-extensions==4.15.0
typing-inspection==0.4.2
urllib3==2.5.0
uuid6==2025.0.1
webencodings==0.5.1
werkzeug==3.1.4
