<div id="project-list-wrapper">
	<!-- Grid Layout -->
	<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6 pt-4">
		{% include "collaborations/partials/_gig-cards.html" %}
	</div>
	<!-- HTMX gig listing -->
	<div id="gig-list" class="my-6 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6"></div>
    
    {% if page_obj.has_next %}
	<div
		id="load-more-container"
        data-msg="Project name from the back"
        data-page-number="{{ page_obj.number }}"
        data-all-pages="{{ paginator.num_pages }}"
		data-current-page="{{ page_obj.number }}"
		data-total-pages="{{ paginator.num_pages }}"
        data-status="{{ request.GET.project_status|default:'' }}"
		class="flex justify-center my-4"
	>
		<button
			id="load-more-btn"
			hx-get="{% url COLLABORATION_URLS.LIST_COLLABORATIONS %}"
			hx-vals='{"page": {{ page_obj.next_page_number }}, "project_status": "{{ request.GET.project_status|default:"" }}"}'
			hx-target="#gig-list"
			hx-swap="beforeend"
			class="text-sm font-semibold text-gray-500 hover:text-brand-500
			transition-colors flex items-center gap-1">
		<span>Show more gigs</span>
		<span class="material-symbols-outlined text-[16px]">expand_more</span>
		</button>
	</div>
    {% endif %}
</div>
